---
---

@import "{{ site.theme }}";

.site-title,
h1, h2, h3 {
  color: #39ff14;
  text-shadow:
    0 0 5px #39ff14,
    0 0 10px #39ff14,
    0 0 20px #39ff14,
    0 0 40px #39ff14;
}

body {
  background-color: black;
}
